* text=auto
*.cpp text eol=crlf
*.h text eol=crlf
*.c text eol=crlf
*.inl text eol=crlf
*.cs text eol=crlf
*.vcxproj text eol=crlf
*.bat text eol=crlf
*.ps1 text eol=crlf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.patch -text
*.dll binary
*.exe binary
*.pdb binary
*.png binary
*.ico binary
*.zip binary
*.ttf binary
# Preserve the upstream OFL license text byte for byte, including its trailing space.
apps/loader/assets/Lexend-OFL.txt whitespace=-blank-at-eol
